
SECRET_KEY=django_dev_secret_key
DEBUG=FALSE
ALLOWED_HOSTS="*"

## DATABASE SETTINGS
DB_ENGINE=django.db.backends.sqlite3
# Change this to your database engine, e.g., 'django.db.backends.postgresql' for PostgreSQL
DB_NAME=db.sqlite3
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=

DEFAULT_FILE_STORAGE=django.core.files.storage.FileSystemStorage


# HTTPS Security - Django
SESSION_COOKIE_SECURE=
CSRF_COOKIE_SECURE=
SECURE_SSL_REDIRECT=
SECURE_HSTS_SECONDS=120
SECURE_HSTS_PRELOAD=
SECURE_HSTS_INCLUDE_SUBDOMAINS=



##### STORE INFORMATION
## Define New Lines by \n
## For example:  "Store Address Line1\nStore Address Line2"
# If have POS Printer
RECEIPT_CHAR_COUNT=32

# Can not be more than RECEIPT_CHAR_COUNT
STORE_NAME="STORE NAME"
STORE_ADDRESS="STORE ADDRESS"
STORE_PHONE=
INCLUDE_PHONE_IN_HEADING=False
RECEIPT_ADDITIONAL_HEADING=
RECEIPT_FOOTER="Thank You"

##### PRINTER SETTING
PRINTER_VENDOR_ID=Vendor_ID
PRINTER_PRODUCT_ID=Product_ID
PRINT_RECEIPT=False

# If Cash drawer connected
CASH_DRAWER=False

DEFAULT_CURRENCY_CODE=USD
DEFAULT_CURRENCY_SYMBOL="$"


#### SSH Tunnel, If required by your database service provider,
#### Optional, only needs this if you are database connection requires it.
#### If you need this then you will have to tweak the code in devlopment settings
SSH_HOST=
SSH_USERNAME=
SSH_PASSWORD=
SSH_DB_HOST=

